# 1. Data import & raw data information.

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df=pd.read_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Raw - Data\w3-Database-Project-main\data\inventory.csv')

df.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [3]:
dim_orig=df.shape
dim_orig

(1000, 4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

# 2. Data Cleaning.
### Null Values

In [5]:
nan_cols=df.isnull().sum()
nan_cols[nan_cols>0]

Series([], dtype: int64)

# 3.Determination of data type per column:

**store_id** --> All of them are stores either 1 or 2. This means there are two stores. OK the column to be an integer.

**film_id** --> All of them are numbers from 1 to 223. This means there are 223 films in inventory. OK the column to be an integer.

**last_update** --> This must be changed into datetime.

In [6]:
df.store_id.unique()

array([1, 2], dtype=int64)

In [7]:
df.last_update.unique()

array(['2006-02-15 05:09:17'], dtype=object)

In [8]:
df.film_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  34,  35,  37,  39,  40,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
        58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
        84,  85,  86,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 109, 110, 111,
       112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
       125, 126, 127, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 145, 146, 147, 149, 150, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194,
       196, 197, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 212, 213, 214, 215, 216, 218, 219, 220, 222, 223],
      dtype=int64)

In [9]:
df.last_update=pd.to_datetime(df.last_update)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [15]:
df

     inventory_id  film_id  store_id
0               1        1         1
1               2        1         1
2               3        1         1
3               4        1         1
4               5        1         2
..            ...      ...       ...
995           996      222         2
996           997      222         2
997           998      222         2
998           999      223         2
999          1000      223         2

[1000 rows x 3 columns]

In [12]:
df.drop_duplicates().shape==df.shape # no hay duplicados

True

In [13]:
df.drop("last_update", axis=1, inplace=True)

In [14]:
df.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Cleaned_data\inventory_cleaned.csv', index=False)