# 1. Data import & raw data information.

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df=pd.read_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Raw - Data\w3-Database-Project-main\data\language.csv')

df.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [3]:
dim_orig=df.shape
dim_orig

(6, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

# 2. Data Cleaning.
### Null Values

In [5]:
nan_cols=df.isnull().sum()
nan_cols[nan_cols>0]

Series([], dtype: int64)

# 3.Determination of data type per column:

In [6]:
df.name.unique()

array(['English', 'Italian', 'Japanese', 'Mandarin', 'French', 'German'],
      dtype=object)

In [7]:
df.last_update.unique()

array(['2006-02-15 05:02:19'], dtype=object)

In [8]:
df.last_update=pd.to_datetime(df.last_update)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 272.0+ bytes

In [10]:
df

   language_id      name         last_update
0            1   English 2006-02-15 05:02:19
1            2   Italian 2006-02-15 05:02:19
2            3  Japanese 2006-02-15 05:02:19
3            4  Mandarin 2006-02-15 05:02:19
4            5    French 2006-02-15 05:02:19
5            6    German 2006-02-15 05:02:19

In [11]:
df.drop_duplicates().shape==df.shape # no hay duplicados

True

In [12]:
df.drop("last_update", axis=1, inplace=True)

In [13]:
df.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Cleaned_data\language_cleaned.csv', index=False)