# 1. Data import & raw data information.

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df=pd.read_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Raw - Data\w3-Database-Project-main\data\old_HDD.csv')

df.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [3]:
dim_orig=df.shape
dim_orig

(1000, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

# 2. Data Cleaning.
### Null Values

In [5]:
nan_cols=df.isnull().sum()
nan_cols[nan_cols>0]     # all of the columns have null values.

Series([], dtype: int64)

# 3.Determination of data type per column:

In [6]:
df.first_name.unique()

array(['PENELOPE', 'NICK', 'ED', 'JENNIFER', 'JOHNNY', 'BETTE', 'GRACE',
       'MATTHEW', 'JOE', 'CHRISTIAN', 'ZERO', 'KARL', 'UMA', 'VIVIEN',
       'CUBA', 'FRED', 'HELEN', 'DAN', 'BOB', 'LUCILLE', 'KIRSTEN',
       'ELVIS', 'SANDRA', 'CAMERON', 'KEVIN', 'RIP', 'JULIA', 'WOODY',
       'ALEC', 'SISSY', 'TIM', 'MILLA', 'AUDREY', 'JUDY', 'BURT', 'VAL',
       'TOM', 'GOLDIE'], dtype=object)

In [7]:
df.last_name.unique()

array(['GUINESS', 'WAHLBERG', 'CHASE', 'DAVIS', 'LOLLOBRIGIDA',
       'NICHOLSON', 'MOSTEL', 'JOHANSSON', 'SWANK', 'GABLE', 'CAGE',
       'BERRY', 'WOOD', 'BERGEN', 'OLIVIER', 'COSTNER', 'VOIGHT', 'TORN',
       'FAWCETT', 'TRACY', 'PALTROW', 'MARX', 'KILMER', 'STREEP', 'BLOOM',
       'CRAWFORD', 'MCQUEEN', 'HOFFMAN', 'WAYNE', 'PECK', 'SOBIESKI',
       'HACKMAN', 'DEAN', 'DUKAKIS', 'BOLGER', 'MCKELLEN', 'BRODY'],
      dtype=object)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [9]:
df.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [10]:
df.drop_duplicates().shape==df.shape # no hay duplicados

True

In [11]:
df.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Cleaned_data\old_HDD_cleaned.csv', index=False)

In [13]:
df['complete_name']=df.first_name + '_'+ df.last_name
df.head()

,first_name,last_name,title,release_year,category_id,complete_name
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,PENELOPE_GUINESS
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,PENELOPE_GUINESS
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,PENELOPE_GUINESS
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,PENELOPE_GUINESS
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,PENELOPE_GUINESS

In [14]:
df.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Cleaned_data\old_HDD_cleaned.csv', index=False)

In [27]:
df.title.unique()

array(['ACADEMY DINOSAUR', 'ANACONDA CONFESSIONS', 'ANGELS LIFE',
       'BULWORTH COMMANDMENTS', 'CHEAPER CLYDE', 'COLOR PHILADELPHIA',
       'ELEPHANT TROJAN', 'GLEAMING JAWBREAKER', 'HUMAN GRAFFITI',
       'KING EVOLUTION', 'LADY STAGE', 'LANGUAGE COWBOY',
       'MULHOLLAND BEAST', 'OKLAHOMA JUMANJI', 'RULES HUMAN',
       'SPLASH GUMP', 'VERTIGO NORTHWEST', 'WESTWARD SEABISCUIT',
       'WIZARD COLDBLOODED', 'ADAPTATION HOLES', 'APACHE DIVINE',
       'BABY HALL', 'BULL SHAWSHANK', 'CHAINSAW UPTOWN',
       'CHISUM BEHAVIOR', 'DESTINY SATURDAY', 'DRACULA CRYSTAL',
       'FIGHT JAWBREAKER', 'FLASH WARS', 'GILBERT PELICAN',
       'GOODFELLAS SALUTE', 'HAPPINESS UNITED', 'INDIAN LOVE',
       'JEKYLL FROGMEN', 'JERSEY SASSY', 'LIAISONS SWEET', 'LUCKY FLYING',
       'MAGUIRE APACHE', 'MALLRATS UNITED', 'MASK PEACH', 'ROOF CHAMPION',
       'RUSHMORE MERMAID', 'SMILE EARRING', 'WARDROBE PHANTOM',
       'ALONE TRIP', 'ARMY FLINTSTONES', 'ARTIST COLDBLOODED',
       'BOONDOCK BALLROOM', 'CADDYSHACK JEDI', 'COWBOY DOOM',
       'EVE RESURRECTION', 'FORREST SONS', 'FRENCH HOLIDAY', 'FROST HEAD',
       'HALLOWEEN NUTS', 'HUNTER ALTER', 'IMAGE PRINCESS',
       'JEEPERS WEDDING', 'LUCK OPUS', 'NECKLACE OUTBREAK',
       'PLATOON INSTINCT', 'SPICE SORORITY', 'WEDDING APOLLO',
       'WEEKEND PERSONAL', 'WHALE BIKINI', 'YOUNG LANGUAGE',
       'BAREFOOT MANCHURIAN', 'BED HIGHBALL', 'BLADE POLISH',
       'GHOSTBUSTERS ELF', 'GREEDY ROOTS', 'HANOVER GALAXY',
       'INSTINCT AIRPORT', 'JUMANJI BLADE', 'NATIONAL STORY',
       'POSEIDON FOREVER', 'RAIDERS ANTITRUST', 'RANDOM GO', 'REDS POCUS',
       'SILVERADO GOLDFINGER', 'SUBMARINE BED', 'TREASURE COMMAND',
       'UNFORGIVEN ZOOLANDER', 'AMADEUS HOLY', 'BANGER PINOCCHIO',
       'BONNIE HOLOCAUST', 'CHITTY LOCK', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'ENOUGH RAGING', 'ESCAPE METROPOLIS', 'FIRE WOLVES',
       'FRONTIER CABIN', 'GRAIL FRANKENSTEIN', 'GROOVE FICTION',
       'HALL CASSIDY', 'HEAVENLY GUN', 'KRAMER CHOCOLATE',
       'LOVE SUICIDES', 'METAL ARMAGEDDON', 'PACIFIC AMISTAD',
       'PATTON INTERVIEW', 'POCUS PULP', 'RIDGEMONT SUBMARINE',
       'RINGS HEARTBREAKERS', 'SOLDIERS EVOLUTION', 'STAR OPERATION',
       'SUNRISE LEAGUE', 'ANTITRUST TOMATOES', 'BANG KWAI',
       'BEAST HUNCHBACK', 'BIKINI BORROWERS', 'CALENDAR GUNFIGHT',
       'COAST RAINBOW', 'COLDBLOODED DARLING', 'CROSSROADS CASUALTIES',
       'DROP WATERFRONT', 'IGBY MAKER', 'LESSON CLEOPATRA',
       'LIBERTY MAGNIFICENT', 'POTLUCK MIXED', 'SPEED SUIT',
       'TITANIC BOONDOCK', 'TRADING PINOCCHIO', 'WYOMING STORM',
       'ANONYMOUS HUMAN', 'ARACHNOPHOBIA ROLLERCOASTER', 'BERETS AGENT',
       'BREAKING HOME', 'COMMAND DARLING', 'CONFESSIONS MAGUIRE',
       'DAZED PUNK', 'DECEIVER BETRAYED', 'DESTINATION JERK',
       'EXCITEMENT EVE', 'GASLIGHT CRUSADE', 'HELLFIGHTERS SIERRA',
       'MALKOVICH PET', 'OCTOBER SUBMARINE', 'OPEN AFRICAN',
       'SAINTS BRIDE', 'SAVANNAH TOWN', 'SCISSORHANDS SLUMS',
       'SLEEPLESS MONSOON', 'SLEEPY JAPANESE', 'STING PERSONAL',
       'TOWN ARK', 'TRACY CIDER', 'TREATMENT JEKYLL', 'WAR NOTTING',
       'WARLOCK WEREWOLF', 'CAMPUS REMEMBER', 'CLONES PINOCCHIO',
       'CONQUERER NUTS', 'CROWDS TELEMARK', 'DANCES NONE',
       'DRIVING POLISH', 'DURHAM PANKY', 'HANGING DEEP', 'LIGHTS DEER',
       'LOSER HUSTLER', 'RUNNER MADIGAN', 'SCHOOL JACKET',
       'SCORPION APOLLO', 'SUGAR WONKA', 'TOMORROW HUSTLER',
       'VANISHING ROCKY', 'ANYTHING SAVANNAH', 'BIRCH ANTITRUST',
       'CHOCOLAT HARRY', 'CHOCOLATE DUCK', 'CROOKED FROGMEN',
       'CURTAIN VIDEOTAPE', 'DALMATIONS SWEDEN', 'HORROR REIGN',
       'LAWLESS VISION', 'LEBOWSKI SOLDIERS', 'MAJESTIC FLOATS',
       'PERDITION FARGO', 'PRIMARY GLASS', 'REEF SALUTE',
       'SNATCHERS MONTEZUMA', 'SWEETHEARTS SUSPECTS', 'TIES HUNGER',
       'TRAFFIC HOBBIT', 'UNTOUCHABLES SUNRISE', 'WATERFRONT DELIVERANCE',
       'WILD APOLLO', 'ALABAMA DEVIL', 'DIVINE RESURRECTION',
       'DRAGONFLY STRANGERS', 'GOLDFINGER SENSIBILITY',
       'JAWBREAKER BROOKLYN', 'LIFE TWISTED', 'LORD ARIZONA',
       'MOD SECRETARY', 'PREJUDICE OLEANDER', 'PUNK DIVORCE',
       'REAP UNFAITHFUL', 'SHAKESPEARE SADDLE', 'TROUBLE DATE',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'WON DARES',
       'CANYON STOCK', 'ENCINO ELF', 'ENDING CROWDS', 'GANDHI KWAI',
       'GODFATHER DIARY', 'HANDICAP BOONDOCK', 'HONEY TIES',
       'HORN WORKING', 'MEET CHOCOLATE', 'MOONWALKER FOOL',
       'OLEANDER CLUE', 'RACER EGG', 'STORY SIDE', 'STRANGERS GRAFFITI',
       'THIN SAGEBRUSH', 'TOOTSIE PILOT', 'UPTOWN YOUNG',
       'VELVET TERMINATOR', 'WEST LION', 'WORKER TARZAN',
       'ALLEY EVOLUTION', 'ARABIA DOGMA', 'ARIZONA BANG', 'BOUND CHEAPER',
       'BOWFINGER GABLES', 'BUNCH MINDS', 'CLEOPATRA DEVIL',
       'CONNECTICUT TRAMP', 'DARES PLUTO', 'DATE SPEED', 'DAY UNFAITHFUL',
       'DOORS PRESIDENT', 'FURY MURDER', 'HARDLY ROBBERS',
       'HIGHBALL POTTER', 'HOLES BRANNIGAN', 'INDEPENDENCE HOTEL',
       'LEATHERNECKS DWARFS', 'MONTEREY LABYRINTH', 'NOVOCAINE FLIGHT',
       'PERFECT GROOVE', 'REUNION WITCHES', 'SMOKING BARBARELLA',
       'STAGECOACH ARMAGEDDON', 'SWEDEN SHINING',
       'TELEMARK HEARTBREAKERS', 'VIRGINIAN PLUTO', 'ATTRACTION NEWTON',
       'CABIN FLASH', 'CHINATOWN GLADIATOR', 'CLASH FREDDY',
       'CLUELESS BUCKET', 'DRIVER ANNIE', 'FRIDA SLIPPER',
       'GALAXY SWEETHEARTS', 'GRINCH MASSAGE', 'GROUNDHOG UNCUT',
       'HOMEWARD CIDER', 'INCH JET', 'LEGALLY SECRETARY', 'LION UNCUT',
       'LOLITA WORLD', 'MODEL FISH', 'MOTIONS DETAILS', 'REBEL AIRPORT',
       'RIDER CADDYSHACK', 'SNOWMAN ROLLERCOASTER', 'SPLENDOR PATTON',
       'STEEL SANTA', 'TORQUE BOUND', 'ZHIVAGO CORE', 'CRANES RESERVOIR',
       'DIRTY ACE', 'DONNIE ALLEY', 'DRIFTER COMMANDMENTS',
       'DRUMS DYNAMITE', 'ENEMY ODDS', 'GORGEOUS BINGO', 'HIGH ENCINO',
       'HILLS NEIGHBORS', 'HOBBIT ALIEN', 'IMPACT ALADDIN',
       'ITALIAN AFRICAN', 'JAPANESE RUN', 'KENTUCKIAN GIANT',
       'LOVELY JINGLE', 'LOVER TRUMAN', 'MUSSOLINI SPOILERS',
       'POLISH BROOKLYN', 'SALUTE APOLLO', 'SATURDAY LAMBS',
       'STOCK GLASS', 'STREETCAR INTENTIONS', 'TIGHTS DAWN', 'TRAP GUYS',
       'TYCOON GATHERING', 'VOICE PEACH', 'BORROWERS BEDAZZLED',
       'BUTCH PANTHER', 'CASSIDY WYOMING', 'EGYPT TENENBAUMS',
       'EMPIRE MALKOVICH', 'FLYING HOOK', 'FUGITIVE MAGUIRE',
       'HYDE DOCTOR', 'KISS GLORY', 'KNOCK WARLOCK', 'LUKE MUMMY',
       'MAKER GABLES', 'MONTEZUMA COMMAND', 'NOON PAPI', 'ROSES TREASURE',
       'SHANE DARKNESS', 'SIEGE MADRE', 'THEORY MERMAID', 'VOLCANO TEXAS',
       'WEREWOLF LOLA', 'WONDERLAND CHRISTMAS', 'BLANKET BEVERLY',
       'BROTHERHOOD BLANKET', 'CAROL TEXAS', 'DELIVERANCE MULHOLLAND',
       'EAGLES PANKY', 'EARRING INSTINCT', 'EASY GLADIATOR',
       'ENTRAPMENT SATISFACTION', 'GABLES METROPOLIS',
       'IMPOSSIBLE PREJUDICE', 'MAGNIFICENT CHITTY', 'MIRACLE VIRTUAL',
       'MISSION ZOOLANDER', 'REAR TRADING', 'SENSE GREEK',
       'CAPER MOTIONS', 'CASPER DRAGONFLY', 'CAT CONEHEADS',
       'CUPBOARD SINNERS', 'CYCLONE FAMILY', 'FEVER EMPIRE',
       'FIDELITY DEVIL', 'GREATEST NORTH', 'IRON MOON', 'JAWS HARRY',
       'LIES TREATMENT', 'MICROCOSMOS PARADISE', 'MOVIE SHAKESPEARE',
       'MUMMY CREATURES', 'ROAD ROXANNE', 'SIDE ARK', 'SINNERS ATLANTIS',
       'STRANGER STRANGERS', 'TADPOLE PARK', 'ATTACKS HATE',
       'BOILED DARES', 'EARLY HOME', 'ELIZABETH SHANE', 'GUMP DATE',
       'INNOCENT USUAL', 'INSIDER ARIZONA', 'JERK PAYCHECK', 'SLING LUKE',
       'STATE WASTELAND', 'SUN CONFESSIONS', 'TEQUILA PAST',
       'TUXEDO MILE', 'VIRGIN DAISY', 'ACE GOLDFINGER', 'CIRCUS YOUTH',
       'CONTROL ANTHEM', 'DARN FORRESTER', 'DYNAMITE TARZAN',
       'HATE HANDICAP', 'HOMICIDE PEACH', 'JACKET FRISCO', 'OSCAR GOLD',
       'PELICAN COMFORTS', 'PERSONAL LADYBUGS', 'RAGING AIRPLANE',
       'RUN PACIFIC', 'SADDLE ANTITRUST', 'SHAWSHANK BUBBLE', 'TAXI KICK',
       'BEDAZZLED MARRIED', 'DINOSAUR SECRETARY', 'EGG IGBY',
       'JUNGLE CLOSER', 'LOLA AGENT', 'LOSE INCH', 'LOVERBOY ATTACKS',
       'MODERN DORADO', 'ORIENT CLOSER', 'PAJAMA JAWBREAKER',
       'PATIENT SISTER', 'SAGEBRUSH CLUELESS', 'SHANGHAI TYCOON',
       'WASTELAND DIVINE', 'WINDOW SIDE', 'AGENT TRUMAN', 'BORN SPINAL',
       'CHICKEN HELLFIGHTERS', 'CLOSER BANG', 'HOME PITY',
       'KILL BROTHERHOOD', 'LADYBUGS ARMAGEDDON', 'PINOCCHIO SIMON',
       'PLUTO OLEANDER', 'PRIX UNDEFEATED', 'PULP BEVERLY',
       'RIVER OUTLAW', 'SLEEPING SUSPECTS', 'THIEF PELICAN',
       'TITANS JERK', 'UNBREAKABLE KARATE', 'EVOLUTION ALTER',
       'EXPECATIONS NATURAL', 'GANGS PRIDE', 'HOOK CHARIOTS',
       'JERICHO MULAN', 'JUMPING WRATH', 'ODDS BOOGIE', 'OUTLAW HANKY',
       'RIGHT CRANES', 'SEATTLE EXPECATIONS', 'SKY MIRACLE',
       'TROJAN TOMORROW', 'BLACKOUT PRIVATE', 'CANDIDATE PERDITION',
       'CANDLES GRAPES', 'DIVIDE MONSTER', 'GOLDMINE TYCOON',
       'HOCUS FRIDA', 'HOTEL HAPPINESS', 'IDENTITY LOVER',
       'MAGNOLIA FORRESTER', 'OZ LIAISONS', 'SONS INTERVIEW',
       'STREAK RIDGEMONT', 'VANISHED GARDEN', 'WOLVES DESIRE',
       'YOUTH KICK', 'BLUES INSTINCT', 'CASUALTIES ENCINO',
       'CONNECTION MICROCOSMOS', 'CROW GREASE', 'DOOM DANCING',
       'FREEDOM CLEOPATRA', 'HAUNTED ANTITRUST', 'MOB DUFFEL',
       'PANIC CLUB', 'PURE RUNNER', 'SEVEN SWARM', 'SPINAL ROCKY',
       'AMERICAN CIRCUS', 'BOOGIE AMELIE', 'CITIZEN SHREK',
       'DOUBLE WRATH', 'FICTION CHRISTMAS', 'MASSAGE IMAGE',
       'SABRINA MIDNIGHT', 'BOULEVARD MOB', 'BRANNIGAN SUNRISE',
       'BUCKET BROTHERHOOD', 'CRAFT OUTFIELD', 'FOOL MOCKINGBIRD',
       'GUYS FALCON', 'LONELY ELEPHANT', 'MADISON TRAP',
       'PITTSBURGH HUNCHBACK', 'RANGE MOONWALKER', 'SORORITY QUEEN',
       'TEXAS WATCH', 'TRAIN BUNCH', 'TRAMP OTHERS', 'CIDER DESIRE',
       'EFFECT GLADIATOR', 'FREDDY STORM', 'GAMES BOWFINGER',
       'GLADIATOR WESTWARD', 'MOCKINGBIRD HOLLYWOOD', 'PILOT HOOSIERS',
       'PRESIDENT BANG', 'SPIRIT FLINTSTONES', 'WONKA SEA',
       'ALICE FANTASIA', 'ATLANTIS CAUSE', 'BEACH HEARTBREAKERS',
       'DUCK RACER', 'GILMORE BOILED', 'LAMBS CINCINATTI', 'MAIDEN HOME',
       'MIDNIGHT WESTWARD', 'NEIGHBORS CHARADE', 'NONE SPIKING',
       'ROOM ROMAN', 'SHOOTIST SUPERFLY', 'SHRUNK DIVINE', 'SPY MILE',
       'TELEGRAPH VOYAGE', 'WAIT CIDER', 'WIFE TURN', 'ALADDIN CALENDAR',
       'CENTER DINOSAUR', 'CHAMBER ITALIAN', 'ENCOUNTERS CURTAIN',
       'EXPRESS LONELY', 'HOURS RAGE', 'HUSTLER PARTY', 'JEOPARDY ENCINO',
       'JOON NORTHWEST', 'MAGIC MALLRATS', 'MONEY HAROLD',
       'OUTBREAK DIVINE', 'REIGN GENTLEMEN', 'SUMMER SCARFACE',
       'BEETHOVEN EXORCIST', 'BEVERLY OUTLAW', 'BIRDS PERDITION',
       'DUDE BLINDNESS', 'DUMBO LUST', 'FAMILY SWEET',
       'FIREHOUSE VIETNAM', 'MATRIX SNOWMAN', 'SILENCE KANE',
       'CLYDE THEORY', 'CRAZY HOME', 'FACTORY DRAGON', 'FERRIS MOTHER',
       'GONE TROUBLE', 'GREEK EVERYONE', 'HOOSIERS BIRDCAGE', 'ROCKY WAR',
       'WISDOM WORKER', 'BEHAVIOR RUNAWAY', 'CHAPLIN LICENSE',
       'CRUSADE HONEY', 'DEEP CRUSADE', 'FEUD FROGMEN', 'FIDDLER LOST',
       'HAROLD FRENCH', 'PACKER MADIGAN', 'PEACH INNOCENT',
       'PEARL DESTINY', 'CHANCE RESURRECTION', 'DAUGHTER MADIGAN',
       'DREAM PICKUP', 'FATAL HAUNTED', 'FEATHERS METAL',
       'JUGGLER HARDLY', 'ROBBERS JOON', 'ROCK INSTINCT', 'TEEN APOLLO',
       'TEMPLE ATTRACTION', 'WATERSHIP FRONTIER', 'WHISPERER GIANT',
       'WRONG BEHAVIOR', 'DORADO NOTTING', 'GUNFIGHTER MUSSOLINI',
       'KANE EXORCIST', 'LOATHING LEGALLY', 'PEAK FOREVER',
       'REDEMPTION COMFORTS', 'SHIP WONDERLAND', 'SQUAD FISH',
       'VOLUME HOUSE', 'BALLROOM MOCKINGBIRD', 'NASH CHOCOLAT',
       'QUEST MUSSOLINI', 'ROCKETEER MOTHER', 'RUGRATS SHAKESPEARE',
       'ALIEN CENTER', 'BLINDNESS GUN', 'GUN BONNIE', 'HEAVEN FREEDOM',
       'INTOLERABLE INTENTIONS', 'MENAGERIE RUSHMORE',
       'TALENTED HOMICIDE', 'TRUMAN CRAZY', 'VALENTINE VANISHING',
       'WANDA CHAMBER', 'ALASKA PHANTOM', 'CARRIE BUNCH',
       'FIREBALL PHILADELPHIA', 'INTRIGUE WORST', 'METROPOLIS COMA',
       'PATHS CONTROL', 'STALLION SUNDANCE', 'STAMPEDE DISTURBING',
       'UNITED PILOT', 'WATCH TRACY', 'WORKING MICROCOSMOS',
       'ANALYZE HOOSIERS', 'CLUB GRAFFITI', 'CONGENIALITY QUEST',
       'DESIRE ALIEN', 'FRISCO FORREST', 'GENTLEMEN STAGE', 'IDAHO LOVE',
       'IDOLS SNATCHERS', 'KISSING DOLLS', 'LEGEND JEDI', 'PURPLE MOVIE',
       'TARZAN VIDEOTAPE', 'BILKO ANONYMOUS', 'BINGO TALENTED',
       'COMANCHEROS ENEMY', 'DESERT POSEIDON', 'EVERYONE CRAFT',
       'EXORCIST STING'], dtype=object)

In [20]:
sorted_df = df.sort_values(by='title')
sorted_df

,first_name,last_name,title,release_year,category_id,complete_name
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,PENELOPE_GUINESS
780,SANDRA,PECK,ACADEMY DINOSAUR,2006,6,SANDRA_PECK
212,CHRISTIAN,GABLE,ACADEMY DINOSAUR,2006,6,CHRISTIAN_GABLE
489,LUCILLE,TRACY,ACADEMY DINOSAUR,2006,6,LUCILLE_TRACY
464,BOB,FAWCETT,ACE GOLDFINGER,2006,11,BOB_FAWCETT
...,...,...,...,...,...,...
65,ED,CHASE,YOUNG LANGUAGE,2006,6,ED_CHASE
719,JULIA,MCQUEEN,YOUNG LANGUAGE,2006,6,JULIA_MCQUEEN
608,SANDRA,KILMER,YOUTH KICK,2006,12,SANDRA_KILMER
967,VAL,BOLGER,YOUTH KICK,2006,12,VAL_BOLGER
324,UMA,WOOD,ZHIVAGO CORE,2006,11,UMA_WOOD

In [36]:
df.to_csv(r'C:\Users\alexd\Ironhack\Proyectos\Project2_DA_Ironhack\Cleaned_data\old_hdd.csv', index=False)